form
    .modal-header
        h3.modal-title Rules
    .modal-body
        table.table
            tr
                th Datum parameter
                th Compared
                th Comparison
                th Then {{ configurationParameter }} is equal to
            tr(ng-repeat='rule in rawRules')
                td
                    select(
                        ng-model='rule.condition.subject'
                        ng-options='element.subject for element in conditionBuilder'
                    )
                td
                    select(
                        ng-model='rule.condition.comparison'
                        ng-options='element.label for element in rule.condition.subject.comparison'
                    )
                td
                    input(
                        ng-model='rule.condition.object'
                        type='{{ rule.condition.subject.object }}'
                    )
                td
                    input(
                        ng-model='rule.value'
                        type='text'
                    )

    .modal-footer
        button.btn.btn-primary(ng-click='newRule()') Add a rule
        button.btn.btn-warning(ng-click='save()') Save
        button.btn.btn-warning(ng-click='cancel()') Cancel
