form
  .modal-header
    h3.modal-title Layout data
  .modal-body
    table.layout-data-list
      tr
        th region id
        th length
        th label
        th color
      tr(ng-repeat="datum in data")
        td
          div.input-group
            input.form-control(
              ng-model="datum.id"
              type="text"
              size=8
              ng-paste="parseClipboard($event.originalEvent, $index)"
            )
            span(
              ng-if='$first'
              tooltip-placement="bottom"
              tooltip-append-to-body='true'
              tooltip-trigger='mouseenter : mouseleave'
              tooltip-html-unsafe='{{ help.paste }}'
              aria-hidden='true'
            ).input-group-addon
              i.glyphicon.glyphicon-paste
        td
          input.form-control(
            ng-model="datum.len"
            type="number"
            size=5
          )
        td
          input.form-control(
            ng-model="datum.label"
            type="text"
            size=10
            ui-keypress="{'enter': 'newDatum($event)'}"
          )
        td
          input(
            ng-model="datum.color"
            type="color"
          )
        td
          confirm-delete(
            on-confirm="deleteDatum($index)"
            popup="Delete this data point"
            button-class="btn-sm"
          )
    button.btn.btn-primary.btn-sm(
      type="button"
      ng-click="newDatum()"
    )
      i.glyphicon.glyphicon-plus
    palette-picker(
      initial-name="{{ colorPalette }}"
      initial-range="{{ colorPaletteSize }}"
      initial-reverse="false"
      on-select="updatePalette(item, isReverse)"
    )
  .modal-footer
    button.btn.btn-warning(ng-click="save()") Save
    button.btn(ng-click="cancel()") Cancel
