form
  .modal-header
    h3.modal-title Layout data
      button.btn.btn-primary.btn-sm(
        type='button'
        ng-click='newDatum()'
      )
        i.glyphicon.glyphicon-plus
      confirm-delete(on-confirm="deleteData()" popup='Delete all data')
      color-brewer-picker-select(
        cb-initial-palette-name='{{ colorPalette }}'
        cb-size='20'
        cb-initial-range='{{ colorPaletteSize }}'
        cb-picker-callback='updatePalette(paletteName, range, palette)'
      )
  .modal-body
    table.layout-data-list
      tr
        th region id
        th length
        th label
        th color
      tr(ng-repeat='datum in data')
        td
          input(
            ng-model='datum.id'
            type='text'
            size=8
          )
        td
          input(
            ng-model='datum.len'
            type='number'
            size=5
          )
        td
          input(
            ng-model='datum.label'
            type='text'
            size=10
          )
        td
          input(
            ng-model='datum.color'
            type='color'
          )
        td
          confirm-delete(on-confirm="deleteDatum($index)" popup='Delete this data point')
  .modal-footer
    button.btn.btn-warning(ng-click='save()') Save
    button.btn(ng-click='cancel()') Cancel
