.deleteConfirmation(style='display:inline-block;')
  div(ng-hide='isDeleting')
    button.btn.btn-danger.btn-sm(
      type='button'
      ng-click='startDelete()'
      tooltip-placement="top"
      tooltip-append-to-body='true'
      tooltip-trigger='mouseenter : mouseleave'
      tooltip-html-unsafe='{{ popup }}'
      aria-hidden='true'
      style='padding: 5px 30px;'
    )
      i.glyphicon.glyphicon-trash
  div(ng-show='isDeleting')
    button.btn.btn-default.btn-sm(
      type='button'
      ng-click='cancel()'
      tooltip-placement="top"
      tooltip-append-to-body='true'
      tooltip-trigger='mouseenter : mouseleave'
      tooltip-html-unsafe='Abort deletion'
      aria-hidden='true'
    )
      i.glyphicon.glyphicon-remove-circle
    button.btn.btn-danger.btn-sm(
      type='button'
      ng-click='confirm()'
      tooltip-placement="top"
      tooltip-append-to-body='true'
      tooltip-trigger='mouseenter : mouseleave'
      tooltip-html-unsafe='Confirm deletion'
      aria-hidden='true'
    )
      i.glyphicon.glyphicon-ok-circle
