div.branding
  img(src='img/easy-circos-logo.png')

div
  button.btn.btn-primary.dropdown-toggle(
    type='button'
    ng-click='toggleLayout()'
    tooltip-placement="bottom"
    tooltip-append-to-body='true'
    tooltip-trigger='mouseenter : mouseleave'
    tooltip-html-unsafe='{{ help.layout }}'
    aria-hidden='true'
  ) Layout

  .btn-group(
    dropdown
    id='newTrack'
    is-open='status.new_track_isopen'
  )
    button.btn.btn-warning.dropdown-toggle(
      dropdown-toggle
      type='button'
      ng-class='{active: status.active == "newTrack"}'
      ng-disabled='false'
    )
      | New track
      span.caret
    ul.dropdown-menu(role='menu')
      li(ng-repeat='trackType in trackTypes' ng-click='newTrack(trackType.type);')
        a(href='#' ng-class='{"disabled-link": !trackType.enabled}') {{ trackType.label }}

  .btn-group(
    dropdown
    is-open='status.track_isopen'
  )
    button.btn.btn-danger.dropdown-toggle(
      dropdown-toggle
      type='button'
      ng-disabled='false'
    )
      | Edit track
      span.caret
    ul.dropdown-menu(role='menu')
      li(ng-if='atLeastOne.heatmap')
        a.disabled-link(href='#') Heatmaps
      li(
        ng-repeat='track in tracks | filter:{type: "heatmap"}'
        ng-click='editTrack(track.id)'
      )
        a(href='#') {{ track.name }}
      li.divider(ng-if='atLeastOne.chords')
      li(ng-if='atLeastOne.chords')
        a.disabled-link(href='#') Chords
      li(
        ng-repeat='track in tracks | filter:{type: "chord"}'
        ng-click='editTrack(track.id)'
      )
        a(href='#') {{ track.name }}
      li.divider(ng-if='atLeastOne.histogram')
      li(ng-if='atLeastOne.histogram')
        a.disabled-link(href='#') Histograms
      li(
        ng-repeat='track in tracks | filter:{type: "histogram"}'
        ng-click='editTrack(track.id)'
      )
        a(href='#') {{ track.name }}
      li.divider(ng-if='atLeastOne.scatter')
      li(ng-if='atLeastOne.scatter')
        a.disabled-link(href='#') Scatters
      li(
        ng-repeat='track in tracks | filter:{type: "scatter"}'
        ng-click='editTrack(track.id)'
      )
        a(href='#') {{ track.name }}
      li.divider(ng-if='atLeastOne.line')
      li(ng-if='atLeastOne.line')
        a.disabled-link(href='#') Lines
      li(
        ng-repeat='track in tracks | filter:{type: "line"}'
        ng-click='editTrack(track.id)'
      )
        a(href='#') {{ track.name }}

div.header-icons.notifications(ng-click='openNotifications()' ng-class='{highlight: hightlightNotifications}')
  span.glyphicon.glyphicon-flag
div.header-icons.news(ng-click='openNews()')
  span.glyphicon.glyphicon-comment
