form#heatmap-form.easy-circos-form
  accordion(close-others='true')
    accordion-group.easy-circos-green(is-open='true')
      accordion-heading Track Name
      input.form-control(
        ng-model = 'currentTrack.name'
        type = 'text'
        ng-change='updateTrackName()'
      )

    accordion-group.easy-circos-blue
      accordion-heading Data
      div.form-group
        label Library
        select.form-control(
          ng-model = 'selected.track'
          ng-options = 'track.title group by track.group for track in tracks'
          ng-change = 'selectTrack()'
        )
      p {{ selected.track.description }} 
        span.source(ng-if='selected.track.source') Source: {{ selected.track.source }}
      div.form-group
        div.input-group
          label.custom-upload
            input(
              type="file"
              id="import-heatmap-file"
              on-read-file="parseData($fileContent)"
            )
            | Select a file...
          span.input-group-addon.hover-cursor(ng-click='data.toggleFormat()') {{ data.format.label }}
          span.glyphicon.glyphicon-question-sign.tcell(
            ng-click='showHeatmapDataModal()'
          )

    accordion-group.easy-circos-red
      accordion-heading Position
      div.form-group
        label Inner radius
        div.input-group
          input.form-control(
            ng-model = 'currentTrack.conf.innerRadius'
            type = 'number'
            ng-change = 'render()'
          )
          span.input-group-addon px

      div.form-group
        label Outer radius
        div.input-group
          input.form-control(
            ng-model = 'currentTrack.conf.outerRadius'
            type = 'number'
            ng-change = 'render()'
          )
          span.input-group-addon px
    
    accordion-group.easy-circos-yellow
      accordion-heading Color & Scale
      div.form-group
        label Palette
        div {{currentTrack.conf.colorPalette}}
        color-brewer-picker-select(
          cb-initial-palette-name='{{ currentTrack.conf.colorPalette }}'
          cb-size='20'
          cb-initial-range='{{ currentTrack.conf.colorPaletteSize }}'
          cb-picker-callback='updatePalette(paletteName, range, palette)'
        )

      div.form-group
        label Min
          span.glyphicon.glyphicon-question-sign(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.min }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.min'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        label Max
          span.glyphicon.glyphicon-question-sign(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.max }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.max'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        input(
          ng-model = 'currentTrack.conf.logScale'
          type = 'checkbox'
          ng-change = 'render()'
        )
        label Log scale



    
