form#heatmap-form.easy-circos-form
  accordion(close-others='true')
    track-settings
    track-data
    track-position

    accordion-group.easy-circos-yellow
      accordion-heading Color & Scale
      div.form-group
        label Palette
        div.input-group
          span.input-group-addon
            input(
              type='radio'
              name='colorStrategy'
              ng-model='currentTrack.conf.usePalette'
              ng-value='true'
              ng-change='render()'
            )
          palette-picker(
            initial-name='{{ currentTrack.conf.colorPalette }}'
            initial-range='{{ currentTrack.conf.colorPaletteSize }}'
            initial-reverse='false'
            on-select='updatePalette(item, isReverse)'
          )

      div.form-group(ng-if='currentTrack.conf.usePalette')
        input(
          ng-model = 'currentTrack.conf.colorPaletteReverse'
          type = 'checkbox'
          ng-change = 'render()'
        )
        label Reverse palette

      div.form-group
        label Color
        div.input-group
          span.input-group-addon
            input(
              type='radio'
              name='colorStrategy'
              ng-model='currentTrack.conf.usePalette'
              ng-value='false'
              ng-change='render()'
            )
          input.form-control(
            ng-model = 'currentTrack.conf.color'
            type = 'color'
            ng-change = 'render()'
          )

      div.form-group
        label Min
          span.glyphicon.glyphicon-question-sign.easycircos-info(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.min }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.min'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        label Max
          span.glyphicon.glyphicon-question-sign.easycircos-info(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.max }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.max'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        input(
          ng-model = 'currentTrack.conf.logScale'
          type = 'checkbox'
          ng-change = 'render()'
        )
        label Log scale
    track-axes
    accordion-group.easy-circos-greenish
      accordion-heading Backgrounds
      backgrounds-form(
        backgrounds='currentTrack.conf.backgrounds'
        on-change-callback='render()'
      )
  a(href='https://docs.google.com/forms/d/1BQP-hnRP-eHL6_EUXWtitTF3CSZaZSpewsnalzot6wM/viewform?usp=send_form' target='_blank') Missing a parameter?
