form.easy-circos-form
  accordion(close-others='true')
    track-settings
    track-data
    track-position

    accordion-group.easy-circos-yellow
      accordion-heading Scale
      div.form-group
        label Min
          span.glyphicon.glyphicon-question-sign.easycircos-info(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.min }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.min'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        label Max
          span.glyphicon.glyphicon-question-sign.easycircos-info(
            tooltip-placement="right"
            tooltip-append-to-body='true'
            tooltip-trigger='mouseenter : mouseleave'
            tooltip-html-unsafe='{{ help.max }}'
            aria-hidden='true'
          )
        div
          input.form-control(
            ng-model = 'currentTrack.conf.max'
            type = 'text'
            ng-change = 'render()'
          )

      div.form-group
        input(
          ng-model = 'currentTrack.conf.logScale'
          type = 'checkbox'
          ng-change = 'render()'
        )
        label Log scale

    accordion-group.easy-circos-greenish
      accordion-heading Glyph
      div.form-group
        label Shape
        select.form-control(
          ng-model = 'currentTrack.conf.glyph.shape'
          ng-options = 'shape for shape in glyph_shapes'
          ng-change = 'render()'
        )
      div.form-group
        label Size
        input.form-control(
          ng-model = 'currentTrack.conf.glyph.size'
          type = 'number'
          ng-change = 'render()'
        )

      div.form-group
        label Color
        div.input-group
          span.input-group-addon
            input(
              type='checkbox'
              ng-model='currentTrack.conf.glyph.fill'
              ng-value='true'
              ng-change='render()'
            )
          input.form-control(
            ng-model = 'currentTrack.conf.glyph.color'
            type = 'color'
            ng-change = 'render()'
          )
        button.btn.btn-link(ng-click='openRulesModal("glyph_color", "color")') Rules

      div.form-group
        label Stroke width
        input.form-control(
          ng-model = 'currentTrack.conf.glyph.strokeWidth'
          type = 'number'
          step = '1'
          ng-change = 'render()'
        )
        button.btn.btn-link(ng-click='openRulesModal("glyph_strokeWidth", "number")') Rules

      div.form-group
        label Stroke color
        input.form-control(
          ng-model = 'currentTrack.conf.glyph.strokeColor'
          type = 'color'
          ng-change = 'render()'
        )
        button.btn.btn-link(ng-click='openRulesModal("glyph_strokeColor")') Rules
    
    track-axes
    backgrounds-form(
      backgrounds='currentTrack.conf.backgrounds'
      on-change-callback='render()'
    )

  a(href='https://docs.google.com/forms/d/1BQP-hnRP-eHL6_EUXWtitTF3CSZaZSpewsnalzot6wM/viewform?usp=send_form' target='_blank' style='margin: 10px;') Missing a parameter?
